@{
    Layout = null;
}
@* Выше выражение Razor сообщает механизму Razor о том, что компоновка не применяется; компоновка похожа на шаблон для
НТМL-разметки, который посылается браузеру  *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting World (from the view)
    </div>
</body>
</html>